---
// import React from "react";
// import ReactDOM from "react-dom";
---

<div
	class="h-screen flex flex-col justify-center text-center text-purple-950 bg-gradient-to-r from-violet-400 to-purple-400"
	id="home"
>
	<h2 class="text-5xl font-black">projects</h2>
</div>
