---
// import React from "react";
// import ReactDOM from "react-dom";
// import { TypeAnimation } from "react-type-animation";
---

<!-- when switching to react  --><!-- <section>
	<TypeAnimation
		cursor={true}
		sequence={["Hello World!", 2000, "Hello React!", 2000]}
		className="text-4xl text-white"
		repeat={Infinity}
		speed={50}
	/>
</section> -->
<article
	class="h-screen flex flex-col justify-center text-center font-bold text-white"
	id="home"
>
	<h1 class="text-6xl">hi, i'm eve</h1>
	<h2 class="text-3xl">full stack developer</h2>
</article>
